.hidden {
  display: none;
}
.box {
  background-color: pink;
  border: 3px solid black;
  height: 50px;
  margin: 10px;
  padding: 10px;
  width: 50px;

  transition: all 1.5s;

}

.box:hover {
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);

  transform: rotate(15deg);
  
  border-radius: 40px;
  background-color: deeppink;

  color: white;
  text-transform: uppercase;
}

/* Button CSS RULES */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 20px 0 0 20px;
}

.button {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;

  /* adda box shadow */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  
  
}

.blue {
  
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.button:active {
  position: relative;
  top: 10px;
}

/* navbar rules */
main {
  margin: 0 auto;
  width: 960px;
}

#main-nav {
  background: rgb(99, 171, 226);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 60px;
  margin: 0;
  padding: 0;
}

#main-nav ul {
  list-style-type: none;
}

#main-nav ul li {
  float: left;
}

#main-nav ul li a {
  display: block;
  color: white;
  font-size: 1em;
  text-decoration: none;
  margin: 10px 0 30px 0;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 10px;
  cursor: pointer;

  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease; 
  -o-transition: all 0.75s ease;
  
  transition: all 0.75s ease;
}

#main-nav ul li a:hover {
  background-color: aliceblue;
  border-radius: 10px;
  color: #333;
}